<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="RemoveAttributes(configSource)">
      <add name="SQLConnectionString"
		     connectionString="Server=qcvdevmicsp01;Database=SeatPlan_DEV;Integrated Security=false;uid=sa;password=stalker45"
		     xdt:Transform="Insert" />
   </connectionStrings>

	<appSettings>
		<add key="adminGroupAccess" value="CORPORATE\gr_TGS_Seat_Planners_Stg"
		     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  <add key="smtpHost" value="ismtp.allegisgroup.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="smtpSender" value="mhatajlo@teksystems.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="smtpCC" value="smoulin@teksystems.com;bdai@teksystems.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer xdt:Transform="Replace">
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(swagger)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>