<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

	<connectionStrings>
		<add name="SQLConnectionString"
		     connectionString="Server=qcvdevmicsp01;Database=SeatPlan_PROD;Integrated Security=false;uid=sa;password=stalker45"
		     xdt:Transform="Insert" />
	</connectionStrings>

	<appSettings>
		<add key="adminGroupAccess" value="CORPORATE\gr_TGS_Seat_Planners_Prd" 
		     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	  <add key="smtpHost" value="ismtp.allegisgroup.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="smtpSender" value="mhatajlo@teksystems.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="smtpCC" value="smoulin@teksystems.com;bdai@teksystems.com"
	       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
	</appSettings>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer xdt:Transform="Replace">
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(swagger)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>