.seat-card {
    margin: 8px 8px 8px 8px;
    position: absolute;
}

.seat-card-content {
    border: 2px solid #ddd;
    height: 55px;
    width: 95px;
    padding-left: 8px;
    padding-top: 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    text-align: left;
}

.seat-card-content-empty {
    color: #ddd;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cline%20x1%3D%220%22%20y1%3D%22100%25%22%20x2%3D%22100%25%22%20y2%3D%220%22%20stroke%3D%22%23ddd%22%20stroke-width%3D%222%22/%3E%3C/svg%3E')
}

.seat-card-number {
    position: absolute;
    bottom: 8px;
    right: 10px;
    float: right;
}
